@import "../../sass/main.module.scss";

.portfolio {
  width: 100%;
  background-color: white;
  padding: 10vh 50px;

  .projects_container {
    @include flexCenter(column);
    align-items: flex-start;
    max-width: 800px;
    min-width: 225px;
    gap: 25px;
    margin: 0 auto;

    h2 {
      font-size: 1rem;
      font-weight: 900;

      &::after {
        content: "";
        width: 275px;
        height: 1px;
        display: block;
        position: relative;
        bottom: 10px;
        left: 175px;
        background-color: #c2c2c2;
      }
    }

    .projects {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px;

      > * {
        @include flexCenter(column);
        position: relative;
        bottom: 0;
        aspect-ratio: 1 / 1;
        gap: 25px;
        transition: all 0.2s ease-in-out;

        &:hover {
          bottom: 5px;
        }

        .overlay {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: $backgroundColor;
          border-radius: inherit;
          opacity: 0.8;
        }

        h3 {
          text-shadow: 0 0 5px rgb(255, 255, 255, 0.2);
        }

        > *:not(:first-child) {
          z-index: 1;
        }

        &:first-child {
          background-image: url("../../assets/FoodDeliveryThumbnail.jpg");
          background-repeat: no-repeat;
          background-size: contain;
        }

        &:nth-child(2) {
          background-image: url("../../assets/CurriculumThumbnail.jpg");
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .portfolio .projects_container {
    width: 60%;

    h2::after {
      display: none;
    }

    .projects {
      width: 100%;
      grid-template-columns: 1fr;
    }
  }
}
