@import "../../sass/main.module.scss";

.portfolio_container {
  width: 100%;
  background-color: white;
  padding: 8vh 35px;

  .portfolio {
    align-items: flex-start;
    width: 95%;
    max-width: 1200px;
    min-width: 225px;
    margin: 0 auto;

    h2 {
      font-size: 1rem;
      font-weight: 900;

      &::after {
        content: "";
        width: 200px;
        height: 1px;
        display: block;
        position: relative;
        bottom: 10px;
        left: 170px;
        background-color: #c2c2c2;
      }
    }

    .projects {
      width: 100%;
      padding-top: 50px;

      .swiper {
        width: 100%;
        height: 100%;

        .swiper-slide {
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
          text-align: center;
          background: #fff;
          font-size: 18px;
        }

        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .project {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
        padding-bottom: 50px;

        a img {
          width: 100%;
        }

        h3 {
          text-align: center;
          color: $primaryColor;
          font-family: $titleFont;
          font-size: 1.5rem;
          text-transform: uppercase;
        }

        .github_link {
          align-self: center;
          color: $secondaryColor;
          transition: all 0.2s ease-in-out;
          background-color: $backgroundColor;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            color: $backgroundColor;
            background-color: $secondaryColor;
          }
        }

        .description {
          width: 70%;
          margin: 0 auto;
          text-align: center;
        }
      }
    }

    .projects {
      :global(.swiper-pagination-bullet) {
        width: 12px;
        height: 12px;
      }
    }

    .projects {
      :global(.swiper-pagination-bullet-active) {
        background-color: $primaryColor;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .portfolio_container .portfolio {
    min-width: 250px;

    h2::after {
      display: none;
    }

    .projects {
      width: 100%;
      grid-template-columns: 1fr;

      .project .description {
        width: 100%;
      }
    }
  }
}
