@import "../../sass/main.module.scss";

.skills_container {
  width: 100%;
  background-color: white;
  color: black;
  padding: 10vh 35px;
  text-align: center;

  .skills {
    @include flexCenter(column);
    align-items: flex-start;
    max-width: 800px;
    min-width: 225px;
    text-align: left;
    gap: 50px;
    margin: 0 auto;

    h2 {
      font-size: 1rem;
      font-weight: 900;

      &::after {
        content: "";
        width: 200px;
        height: 1px;
        display: block;
        position: relative;
        bottom: 10px;
        left: 260px;
        background-color: #c2c2c2;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .skills_container .skills {
    min-width: 250px;

    h2::after {
      display: none;
    }
  }
}
