@import "../../sass/main.module.scss";

.about {
  width: 100%;
  padding: 18vh 25px 10vh 25px;
  background-color: white;

  .profile {
    @include flexCenter(column);
    width: 80%;
    min-width: 200px;
    margin: 0 auto;

    .profile_photo {
      width: 100%;
      max-width: 325px;
      box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.1);
      border-radius: 50%;
      border: 5px solid transparent;
      image-rendering: -moz-crisp-edges; /* Firefox */
      image-rendering: -o-crisp-edges; /* Opera */
      image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
      margin: 0 0 50px 0;
    }

    .about_me_container {
      @include flexCenter(column);
      gap: 10px;

      .job {
        color: rgb(141, 141, 141);
        font-family: $titleFont;
        font-size: 1.25rem;
        white-space: nowrap;
      }

      h1 {
        font-family: $titleFont;
      }

      .about_me {
        max-width: 775px;
        font-size: 1rem;
        margin: 25px 0 0 0;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .about {
    padding: 16vh 0 8vh 0;
  }
}
