@import "../../sass/main.scss";

header {
  width: 100vw;
  height: 8vh;
  display: flex;
  background-color: $primaryColor;
  font-size: 0.75rem;
  padding: 0 25px;

  @media screen and (max-width: 500px) {
    .overlay {
      position: absolute;
      background: linear-gradient(0deg, rgba(241, 237, 238, 0.5) 0%, rgba(129, 146, 145, 1) 100%);
      top: 8vh;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
