@import "../../sass/main.module.scss";

.timeline {
  width: 100%;
  background-color: $primaryColor;
  color: white;
  padding: 10vh 50px;
  text-align: center;

  .jobs {
    @include flexCenter(column);
    align-items: flex-start;
    max-width: 800px;
    min-width: 225px;
    text-align: left;
    gap: 25px;
    margin: 0 auto;

    h2 {
      font-size: 1rem;
      font-weight: 900;

      &::after {
        content: "";
        width: 275px;
        height: 1px;
        display: block;
        position: relative;
        bottom: 10px;
        left: 115px;
        background-color: #c2c2c2;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .timeline .jobs {
    width: 60%;

    h2::after {
      display: none;
    }
  }
}
